// VARIABLES
$torpedo-grey: #bfb9b9;
$torpedo-green: green;
$torpedo-blue: #1a509d;
$torpedo-red: red;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 25rem;
  font-size: 2rem;
}
.buttons {
  width: 90%;
  margin: 2rem auto;
}
button {
  border-radius: 10px;
  border: none;
  background-color: $torpedo-blue;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 1rem;
}

// button:not(:last-child) {
//   border-bottom: none;
// }

button:hover:not(:last-child) {
  background-color: lighten($torpedo-blue, 10%);
}
.working {
  background: lighten($torpedo-green, 0%);
  cursor: initial;
}
.error {
  &:hover {
    background: lighten($torpedo-red, 0%);
  }
  background: darken($torpedo-red, 10%);
  // background: $torpedo-red;
  cursor: help;
}
