#url-box
{
	float:left;
	font-weight: normal;
	word-break: break-all;
	white-space: pre-wrap;
    color: #333333;
	margin: 6px 0px 6px 5px;
	max-width: 350px;
}
#baseDomain
{
	font-weight:bold;
	margin: 0px 0px 0px 2px;
    cursor: pointer;
    letter-spacing: 2px;
}
#url1,#url2
{
	margin: 0px 0px 0px 1px;
    cursor: pointer;
	color: #404040;
	white-space: pre-wrap;
}
#redirect
{
	margin: 2px 0px 0px 6px;
}
#redirectButton
{
	margin-left: 5px;
	margin-top: 5px;
}
#tooltippanel
{
	-moz-appearance: none !important;
	background-color: #FFFFFF;
	border: solid 2px red;
    border-radius: 5px;
    color: #000000;
}
#warning-pic
{
    width: 35px;
    height: 36px;
    margin: 5px 2px 0px 5px;
}
#info-pic
{
    width: 25px;
    height: 25px;
	margin: 5px;
}
#seconds-box{
	margin: 0px;
}
#greenlist 
{
	margin-bottom: 5px;
}
#showDefaults
{
	margin-top: 10px;
	margin-bottom: 10px;
}