span #baseDomain
{
	font-weight:bold;
	margin: 0px;
	text-decoration: underline;
    cursor: pointer;
}

span
{
	margin-top: 10px;
	max-width: 220px;
    display: block;
	float:left;
	font-weight: normal;
	/*-ms-word-break: break-all;*/
	word-break: break-all;
	white-space: normal
}

#greenlist {
	margin-bottom: 5px;
}

span #url1,span #url2
{
	margin: 0px;
	text-decoration: underline;
    cursor: pointer;
}

#showDefaults
{
	margin-top: 10px;
	margin-bottom: 10px;
}
#url-box
{
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 5px;
}

#redirect
{
	margin-top: 5px;
}

#tooltippanel
{
	-moz-appearance: none !important;
	background-color: #FFFFFF !important;
	border: solid 2px red;
}

.mainBox
{
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#info-pic
{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#info-box
{
    margin-left: 15px;
}
