#warning-pic
{
    width: 36px;
    max-height: 40px;
    margin: 5px 5px 5px 8px;
}
#redirect
{
	display: block;
	margin-left: 6px;
	min-width:250px;
	max-width:400px;
}
#redirectButton
{
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 5px;
}
#url-box
{
	font-weight: normal;
	word-break: break-all;
	white-space: normal;
    color: #333333;
	margin: 4.5px 4px 7px 4px;
	display: inline-block;
	max-width:400px;
}
#baseDomain
{
	font-weight:bold;
	margin: 0px 0px 0px 2px;
    cursor: pointer;
    letter-spacing: 2px;
}
#url1,#url2
{
	margin: 0px 0px 0px 1px;
    cursor: pointer;
	color: #404040;
	white-space: pre-wrap;
}
#tooltippanel
{
	-moz-appearance: none !important;
	background-color: #FFFFFF;
	border: solid 2.5px red;
    border-radius: 5px;
    color: #000000;
}
#info-pic
{
    width: 25px;
    height: 25px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px
}