tooltippanel > description {
  white-space: pre-wrap;
}
#tooltippanel{
	-moz-appearance: none !important;
	border: solid 2.5px grey;
  border-radius: 5px;
  color: #000000;
  font-size:14px;
  padding: 2px;
}
#tooltipcontent{
  width: 430px;
}
.highlight{
  color: #262626;
  font-weight: bold;
  margin: 0;
}


#warning-pic{
  width: 30px;
  height: 25px;
  margin: 2px 2px 2px 2px;
}
#redirect{
  display: block;
  white-space: pre-wrap;
  margin: 7px 0px 0px 6px;
  width: 430px;
}
#url-box{
	font-weight: normal;
	word-break: break-all;
	white-space: normal;
  color: #333333;
  margin: 4px 2px 2px 4px;
  padding: 2px;
  width: 430px;
}
#baseDomain{
	font-weight:bold;
	margin: 0 2px 0 0;
  letter-spacing: 2px;
}
#url1,#url2{
	color: #404040;
	white-space: pre-wrap;
  margin: 0 1px 0 0;
}
#url1andbase{
  max-height: 20px;
  width: 430px;
}
#url2{
  max-height: 30px;
  width: 430px;
}
#advicebox{
  display: flex;
  margin: 3px 0 5px 2px;
  position: relative;
  width: 400px;
}
#advice{
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  /*float: right;*/
  white-space: pre-wrap;
  /*width: 400px;*/
  margin: 2px 0 2px 5px;
  padding-top: 3px;
}
#advice-pic{
  float: left;
  display: inline;
  width: 27px;
  height: 28px;
  margin: 5px 2px 5px 3px;
}
#infos{
  display: block;
  position: relative;
  cursor: pointer !important;
  width: 400px;
}
#moreinfobox{
  clear: both;
  display: block;
  overflow-y: scroll;
  width: 430px;
  height: 100px;
}
#moreinfos{
  display: block;
  font-style: italic;
}
#info-pic{
  max-width: 27px;
  max-height: 28px;
  cursor: pointer;
	margin: 3px 2px 0 5px;
}
#infotext{
	text-decoration: underline;
  cursor: pointer;
  width: 400px;
  margin-top: 4px;
}
#infocheck{
  width: 420px;
}
#redirectButton{
	margin: 2px 5px 2px 5px;
  cursor: pointer;
  text-align:center;
  font-weight: bold;
}