#torpedo-guide {
    padding: 0;
    background: #fff;
    height: 650px;
    width: 1000px;
}



.guide-link{
  margin-top: 5px;
  color: black;
  font-style: italic;
}

#guide-section-list-wrapper {
    background-color: #004064;
    color: #FFF;
    padding: 24px;
    font-size: 1.2em;
}

#guide-section-list {
    margin: 0;
    padding: 0;
    width: 150px;
}

#guide-section-list li {
    margin-bottom: 6px;
}

#guide-section-list .active {
    font-weight: bold;
}

#guide-btn-wrapper {
    padding: 12px;
    border-top: 1px solid #898989;
    background-color: white;
}

  #nextPage, #previousPage, #finishButton {
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

#guide-content-wrapper-holder {
    background-color: #FFF;
}

#guide-content-wrapper-holder::before {
    content: "";
    height: 16px;
    width: 100%;
    display: block;
    background-image: linear-gradient(to right, #f6d329 0%, #f6d329 33%, #fbeca3 100%);
}

#guide-content-wrapper-holder * {
    box-sizing: border-box;
}

.guide-content-wrapper {
    display: none;
    background-color: #FFF;
    padding: 32px;
    color: #004064;
    font-size: 16px;
    height: 600px; /* 650px (dialog height) - 56px (button bar height) - 16px (gradient height) */
}

.guide-content-wrapper.active {
    display: block;
}

.guide-content-wrapper p {
    margin: 0 0 4px 0;
    font-size: 1em;
}

.guide-content-wrapper a {
    display: block;
    margin: 12px 0 0 20px;
    font-style: italic;
}

.guide-content-wrapper h1 {
    margin: 0 0 16px 0;
    line-height: 1.2;
    font-size: 2em;
}

.guide-content-wrapper h2 {
    margin: 0 0 12px 0;
    line-height: 1.2;
    font-size: 1.1em;
}

.guide-content-wrapper h3 {
    margin: 4px 0 4px 0;
    font-size: 1em;
}

.guide-content-wrapper h4 {
    margin: 0px 0 4px 0;
    font-size: 1em;
}
.guide-content-wrapper ul, .guide-content-wrapper ol {
    margin-top: 0;
    font-size: 1em;
    padding-left: 1em;
}

.guide-content-wrapper-flex.active {
    display: flex;
    flex-direction: column;
}

.guide-content-wrapper-flex.active img {
    object-fit: contain;
    flex: 1;
    overflow: hidden;
}

.guide-content-wrapper .footnote {
    font-size: 0.75em;
}

.guide-logo {
    background: url("https://raw.githubusercontent.com/SecUSo/torpedo/master/chrome/skin/icon64.png") no-repeat calc(100% - 32px) 32px;
    background-size: 33% auto;
    padding-top: 108px;
}